<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit a wish</title>
</head>
<body>
    <h1>edit a wish</h1>

    {% if messages %}
    <ul>
    {% for message in messages %}    
    <li>{{ message }}</li> 
    {% endfor %}
    </ul>
    {% endif %}


    <form action="/update/{{wish.id}}" method="POST">
        {% csrf_token %}
        Item Name: <input type="text" name="wish_name">
        Description: <input type="text" name="description">
        <input type="submit" value="Submit Wish">
    </form>
    
</body>
</html>