<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>log and reg</title>
    <style>
        .form{
            display: inline-block;
            vertical-align: top;
        }
    </style>
</head>
<body>

    {% if messages %}
    <ul>
    {% for message in messages %}    
    <li>{{ message }}</li> 
    {% endfor %}
    </ul>
    {% endif %}

    <div class="form">
        <h3>register:</h3>
        <form action="/register" method="POST">
            {% csrf_token %}
            <p>first name</p>
            <input type="text" name="first_name">
            <p>last name</p>
            <input type="text" name="last_name">
            <p>email</p>
            <input type="text" name="email">
            <p>password</p>
            <input type="text" name="password">
            <p>confirm password</p>
            <input type="text" name="confirm_password">
            <input type="submit" value="Register">
        </form>
    </div>
    
    <div class="form">
        <h3>login:</h3>
        <form action="/login" method="POST">
            {% csrf_token %}
            <p>email</p>
            <input type="text" name="email">
            <p>password</p>
            <input type="text" name="password">
            <input type="submit" value="Login">
        </form>
    </div>


</body>
</html>

<!-- 'not_my_wishes': Wish.objects.exclude(granted_wishes= user),  -->