<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>make a wish</title>
</head>
<body>
    <h1>make a wish</h1>

    <form action="/wishes/create" method="POST">
        {% csrf_token %}
        Item Name: <input type="text" name="wish_name">
        Description: <input type="text" name="description">
        <input type="submit" value="Submit Wish">
    </form>
</body>
</html>